/* Buttons & Special Links */
.button {
    &.is-primary {
    color: #ffffff;
    background-color: rgba($purple,1);
    font-weight: 400;
    box-shadow: 3px 0 10px rbga($dark , .5);
    &:hover {
        background-color: $dark-purple;
    }

    &.is-outlined {
      border-color: $purple;
      border: 1px solid;
      // border-radius: 12px;
      color: $purple;
      &:hover {
          background-color: $purple;
          color: #ffffff;
          border-color: $purple;
      }
    }
    @include sm {
      font-size: 1.25em;
    }
  }
}
