/* Buttons & Special Links */
button.button,
a.button {
    &.is-primary {
    color: #ffffff;
    background-color: rgba($purple,1);
    font-weight: 400;
    box-shadow: 3px 0 10px rbga($dark , .5);
    &:hover {
        background-color: $dark-purple;
    }

    &.is-outlined {
      background-color: transparent;
      border-color: $purple;
      border: 1px solid;
      color: $purple;
      &:hover {
          background-color: $purple;
          color: #ffffff;
          border-color: $purple;
      }
      &:visited,
      &:active {
        background-color: transparent !important;
        border-color: $purple !important;

      }
    }
    @include sm {
      font-size: 1.25em;
    }
  }
}
