nav  {

  &.navbar {
    padding: 1.25em;
  }

  a.navbar-item  {
    color: $purple;
    font-weight: 500;
    padding: 1em 1.5em;

    &:visited,
    &:active {
      color: $purple;
    }

    &:hover  {
      color:  $brighter;
      background-color: rgba($gray, .25);
    }
  }

  .navbar-burger {
    color:  $purple;
    &:hover {
      color: $brighter;
    }
  }

}
