nav  {

    a.navbar-item  {
      color: $purple;
      font-weight: 500;
      &:visited,&:active {
        color: $purple;
      }
      &:hover  {
        color:  $dark-purple;
      }
    }

    .navbar-burger {
      color:  $purple;
      &:hover {
        color: $dark-purple;
      }
    }
}
