#index {
  background-color: $dark;
}

#hero-header {
  span{
    color: $purple;
    // font-size: 1.2em;
  }
}

#main-hero {
  background-color: $dark;

  h2 {
    font-size: 2rem;
    color: $light;

    a {
      font-weight: 500;
      color: $light;
      border-bottom: 2px solid;
      // text-decoration: underline;
      &#ui {
        border-color: $lime;
        &:hover {
          color: $lime;
          font-weight: 500;
          border-width: 3px;
        }
      }
      &#fr {
        border-color: $gray;
        &:hover {
          color: $gray;
          font-weight: 500;
          border-width: 3px;
        }
      }
      &#vi {
        border-color: $blue;
        &:hover {
          color: $blue;
          font-weight: 500;
          border-width: 3px;
        }
      }
    }
  }
}

#icons{
  a.icon {
    display: block;
    margin-bottom: 1em;
    display: inline-block;

    @include md {
      display: block;
    }
  }
}

#links {

  .a {
    margin-bottom: 1em;
  }
}
