$purple: #7130a0;

html, body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.purple {
  color: $purple;
}

.button.is-primary {
  color: #ffffff;
  background-color: rgba($purple, .8);
  &:hover {
      background-color: $purple;
  }
}
