@import url("https://use.typekit.net/egs7asl.css");

/* Colors */
$purple: #7130a0;
$dark-purple: #472954;
$citron: #ab9f1a;
$light: #FDFDF5;
$dark: #00120B;
$gray: #8EA8C3;
$lime: #A2ED6D;
$blue: #1E3F63;

$light-blue: #368AF5;

$primary: $purple;

/*******************************************************/
/******* Breakpoints / Media Query Mixin ***************/
/*******************************************************/

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}

html, body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: montserrat, sans-serif !important;
}

/* Headers and Such */
h1.title {
  font-size: 2em;
  font-weight: 400;
  color: $light;
  span {
    // color: white;
    font-weight: 600;
  }
  @include sm {
    font-size: 3em;
  }
}

h2.subtitle {
  font-size: 1em;
  font-weight: 400;
  color: $light;
  @include sm {
    font-size: 1.25em;
  }

  span {
    font-size: 2em;
  }
}

a.link.icon {
  color: $light-blue;
  font-size: 2em;
  margin: 1em;

  &:hover{
    color: $lime;
  }
}

.purple {
  color: $purple;
}

.hidden {
  display: none;
}

/* Buttons & Special Links */
.button {
    &.is-primary {
    color: #ffffff;
    background-color: rgba($purple,.9);
    border: 1px solid $purple;
    font-weight: 400;
    box-shadow: 3px 0 10px rbga($dark , .5);
    font-size: 1em;
    &:hover {
        background-color: $purple;
    }
    &.is-outlined {
      border-color: $purple;
      color: $purple;
      &:hover {
          background-color: $purple;
          color: #ffffff;
          border-color: $purple;
      }
    }
    @include sm {
      font-size: 1.25em;
    }
  }
}

.level {
  // padding: 1em;
  &.dark {
    background-color: $dark;
  }
  @include lg {
    // margin-top: 1em;
  }
}

#hero-header {
  span{
    color: $purple;
    font-size: 1.2em;
  }
}

#main-hero {
  background-color: $dark;

  .hero-body {
    padding-top: 3.5rem;
    @include md {
      padding-top: 3rem;
    }
  }

  h2 {
    font-size: 2rem;
    color: $light;

    a {
      font-weight: 500;
      color: $light;
      border-bottom: 2px solid;
      // text-decoration: underline;
      &#ui {
        border-color: $lime;
        &:hover {
          color: $lime;
          font-weight: 500;
          border-width: 3px;
        }
      }
      &#fr {
        border-color: $gray;
        &:hover {
          color: $gray;
          font-weight: 500;
          border-width: 3px;
        }
      }
      &#vi {
        border-color: $blue;
        &:hover {
          color: $blue;
          font-weight: 500;
          border-width: 3px;
        }
      }
    }
  }
}
