$purple: #7130a0;
$dark-purple: #472954;
$citron: #ab9f1a;
$light: #fbf9fc;
$dark: #291626;

$primary: $purple;

html, body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.purple {
  color: $purple;
}

.button.is-primary {
  color: #ffffff;
  background-color: $purple;
  &:hover {
      background-color: $purple;
  }
  &.is-outlined {
    border-color: $purple;
    color: $purple;
    &:hover {
        background-color: $purple;
        color: #ffffff;
        border-color: $purple;
    }
  }
}
